.auth_container {
    padding-top: 30px;
    margin: auto;
    text-align: center;
}

.txt2 {
    font-size: 16px;
    line-height: 1.4;
}

.txt3 {
    font-size: 16px;
    color: #333333;
    line-height: 1.2;
    text-transform: uppercase;
}

.txt3:hover {
    color: #111111;
}
