/*********************************
1. Cart Info Column
*********************************/
.cart_info_columns {
    width: 100%;
    border-bottom: solid 2px rgba(0, 0, 0, 0.2);
    padding-bottom: 7px;
}

.cart_info_col {
    float: left;
    font-size: 14px;
    font-weight: 400;
    color: var(--on-background);
}

.cart_info_col_object {
    width: 60%;
}

.cart_info_col_price {
    width: 20%;
    text-align: center;
}

.cart_info_col_quantity {
    width: 20%;
    text-align: center;
}

/*********************************
2. Cart Item
*********************************/
.cart_item {
    width: 100%;
    padding-top: 33px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.cart_item_object {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.cart_item_price {
    width: 20%;
    text-align: center;
}

.cart_item_quantity {
    width: 20%;
    text-align: center;
}

.cart_item_image {
    width: 183px;
}

.cart_item_image img {
    width: 100%;
    height: auto;
}

.cart_item_name_container {
    width: 70%;
    padding-left: 36px;
}

.cart_item_name {
    width: 99%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart_item_name a {
    font-size: 18px;
    font-weight: 500;
    color: var(--on-background);
}

.cart_item_name a:hover {
    color: var(--primary);
}

.cart_item_remove {
    margin-top: 3px;
}

.cart_item_remove a {
    font-size: 14px;
    font-weight: 500;
    color: var(--on-surface);
}

.cart_item_remove a:hover {
    color: var(--on-background);
}

.cart_item_price {
    font-size: 14px;
    font-weight: 400;
    color: var(--on-background);
}

/*********************************
3. Cart Buttons
*********************************/
.button_container {
    width: 100%;
    margin-top: 50px;
    padding-right: 40px;
}

.clear_cart_button {
    float: right;
}

/*********************************
4. Coupon section
*********************************/
.row_extra {
    margin-top: 50px;
}

.section_title {
    font-size: 24px;
    font-weight: 600;
    color: var(--on-background);
}

.section_subtitle {
    font-size: 14px;
    font-weight: 400;
    color: var(--on-surface);
    margin-top: 3px;
}

.coupon_form_container {
    margin-top: 42px;
    width: 100%;
}

.coupon_form {
    position: relative;
    width: 100%;
}

.coupon_input {
    width: 100%;
    height: 52px;
    border: none;
    outline: none;
    background: var(--surface);
    padding-left: 15px;
}

.coupon_button {
    position: absolute;
    top: 0;
    right: 0;
    width: 112px;
    height: 52px;
}

.coupon_button span {
    display: block;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: var(--on-background);
    z-index: 2;
}

.coupon_button:hover span {
    color: var(--surface);
}

/*********************************
5. cart total
*********************************/

.cart_total_container {
    margin-top: 42px;
    padding: 20px 44px 19px 45px;
    background: var(--surface);
}

.cart_total_container ul {
    width: 100%;
}

.cart_total_container ul li {
    width: 100%;
    height: 48px;
}

.cart_total_item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.grid {
    height: 48px;
}

.cart_total_title {
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 400;
    color: var(--on-background);
}

.cart_total_details {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cart_total_value {
    font-size: 14px;
    font-weight: 400;
    color: var(--on-background);
}

.cart_total_quantity {
    font-size: 14px;
    font-weight: 400;
    color: var(--on-background);
}

.checkout_button {
    width: 100%;
}

/************
6. 992px
************/

@media only screen and (max-width: 992px) {
    .cart_item_name_container {
        width: 60%;
        padding-left: 10px;
    }

    .cart_item_name a {
        font-size: 14px;
    }

    .cart_item_remove a {
        font-size: 12px;
    }

    .cart_item_price {
        font-size: 13px;
    }

    .cart_item_image {
        width: 160px;
    }


    .product_quantity {
        max-width: 90px;
        height: 50px;
        padding-left: 35px;
    }

    .product_quantity span {
        left: 10px;
        font-size: 14px;
        font-weight: 550;
    }

    .product_quantity input {
        width: 30px;
        height: 47px;
        font-size: 14px;
        font-weight: 550;
    }

    .quantity_buttons {
        width: 24px;
    }

    .cart_total {
        margin-top: 50px;
    }

    .checkout_button {
        margin-top: 15px;
    }
}

/************
11. 600px
************/

@media only screen and (max-width: 600px) {
    .cart_info_col {
        font-size: 12px;
    }

    .cart_item_image {
        width: 130px;
    }

    .cart_item_name_container {
        width: 50%;
        padding-left: 8px;
    }

    .cart_item_name a {
        font-size: 11px;
        font-weight: 450;
    }

    .cart_item_remove a {
        font-size: 10px;
        font-weight: 450;
    }

    .cart_item_price {
        font-size: 10px;
    }

    .button_container {
        margin-top: 40px;
        padding-right: 20px;
    }


    .product_quantity {
        max-width: 60px;
        height: 40px;
        padding-left: 25px;
    }

    .product_quantity span {
        left: 5px;
        font-size: 11px;
        font-weight: 550;
    }

    .product_quantity input {
        width: 15px;
        height: 38px;
        font-size: 11px;
        font-weight: 550;
    }

    .quantity_buttons {
        width: 13px;
    }

    .cart_total_title {
        width: 60%;
    }

    .cart_total_details {
        width: 30%;
    }

    .cart_total_container {
        margin-top: 25px;
        padding: 20px;
    }

    .cart_total_title {
        font-size: 12px;
    }

    .cart_total_value {
        font-size: 10px;
    }

    .cart_total_quantity {
        font-size: 10px;
    }
}
