@import "/static/plugins/boxicons/css/boxicons.min.css";
@import "/static/plugins/bootstrap-icons/bootstrap-icons.css";

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
    position: relative;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
    position: relative;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--primary);
    bottom: 0;
    left: calc(50% - 25px);
}

.section-title p {
    margin-bottom: 0;
}

.section-bg {
    padding: 120px 0;
    color: #fff;
}

.section-bg:before {
    content: "";
    background: #1b1b1b;
    position: absolute;
    bottom: 60px;
    top: 60px;
    left: 0;
    right: 0;
    transform: skewY(-3deg);
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    height: 75vh;
    text-align: center;
}

.hero_text {
    padding-top: 90px;
    margin-bottom: 25px;
    font-size: 35px;
    font-weight: 650;
    color: var(--on-background);
}

.hero_button {
    margin: auto;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .container {
    position: relative;
    z-index: 10;
}

.about .content {
    padding: 30px 30px 30px 0;
}

.about .content h3 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
}

.about .content p {
    margin-bottom: 30px;
}

.about .content .about-btn {
    padding: 8px 30px 9px 30px;
    color: #fff;
    border-radius: 50px;
    transition: 0.3s;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    display: inline-flex;
    align-items: center;
    border: 2px solid var(--primary);
}

.about .content .about-btn i {
    font-size: 16px;
    padding-left: 5px;
}

.about .content .about-btn:hover {
    background: var(--primary);
}

.about .icon-boxes .icon-box {
    margin-top: 30px;
}

.about .icon-boxes .icon-box i {
    font-size: 40px;
    color: var(--primary);
    margin-bottom: 10px;
}

.about .icon-boxes .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.about .icon-boxes .icon-box p {
    font-size: 15px;
    color: #848484;
}

@media (max-width: 1200px) {
    .about .content {
        padding-right: 0;
    }
}

@media (max-width: 768px) {
    .about {
        text-align: center;
    }
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
    padding-top: 80px;
}

.counts .count-box {
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    text-align: center;
    box-shadow: 0 2px 35px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
}

.counts .count-box i {
    position: absolute;
    width: 54px;
    height: 54px;
    top: -27px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    background: #fff;
    color: var(--primary);
    border-radius: 50px;
    border: 2px solid #fff;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.counts .count-box span {
    font-size: 36px;
    display: block;
    font-weight: 700;
    color: #111111;
}

.counts .count-box p {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
    padding: 20px;
    background: #2b2b2b;
    text-align: center;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.pricing .box h3 {
    padding: 15px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}

.pricing .box h4 {
    font-size: 42px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 20px;
}

.pricing .box h4 sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
}

.pricing .box h4 span {
    font-size: 16px;
    font-weight: 300;
}

.pricing .box ul {
    padding: 0;
    list-style: none;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

.pricing .box ul li {
    padding-bottom: 16px;
}

.pricing .box ul i {
    color: var(--primary);
    font-size: 18px;
    padding-right: 4px;
}

.pricing .box ul .na {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: line-through;
}

.pricing .box .btn-wrap {
    padding: 15px;
    text-align: center;
}

.pricing .box .btn-buy {
    display: inline-block;
    padding: 10px 40px 12px 40px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    transition: 0.3s;
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.pricing .box .btn-buy:hover {
    border-color: #fff;
}

.pricing .featured {
    background: var(--primary);
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
    color: #444444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px 0 32px 0;
    border-radius: 4px;
}

.contact .info-box i {
    font-size: 32px;
    color: var(--primary);
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #f8d4d5;
}

.contact .info-box h3 {
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 10px 0;
}

.contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.contact .php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
    border-radius: 4px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br + br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
    margin-bottom: 25px;
}

.contact .php-email-form input, .contact .php-email-form textarea {
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
    border-color: #111111;
}

.contact .php-email-form input {
    padding: 10px 15px;
}

.contact .php-email-form textarea {
    padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
    background: var(--primary);
    border: 0;
    padding: 10px 32px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
    background: var(--primary);
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/************
  992px
************/
@media only screen and (max-width: 992px) {

}

/************
  600px
************/
@media only screen and (max-width: 600px) {
    .hero_text {
        padding-top: 120px;
        margin-bottom: 25px;
        font-size: 28px;
        font-weight: 600;
    }
}