@import "/static/css/isotopeLayout.css";

.product_add_to_cart a svg {
    display: inline;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    z-index: 2;
    vertical-align: middle;
    fill: var(--on-surface);
}

.product_add_to_cart a:hover svg {
    fill: var(--primary);
    color: var(--primary);
}

