@import "/static/css/isotopeLayout.css";

.add_to_cart a svg {
    display: inline;
    position: absolute;
    right: 0;
    top: -10px;
    width: 20px;
    height: 20px;
    z-index: 2;
    vertical-align: middle;
    fill: var(--on-surface);
}

.add_to_cart a:hover svg {
    fill: var(--primary);
    color: var(--primary);
}

.slicing_pending,
.slicing_done,
.status_cart,
.status_tracking,
.status_completed {
    display: none;
    font-size: 16px;
    font-weight: 500;
    color: var(--on-surface);
    line-height: 0.75;
    margin-top: 13px;
}

.status_cart {
    color: var(--success);
}

.status_tracking {
    color: var(--error);
}
