/************
 Status none 
************/

.status_none {
    display: none;
}

.image_selected {
    width: 100%;
}

.image_selected img {
    width: 100%;
    height: auto;
}

.thumbnail_images {
    margin-top: 17px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.thumbnail_image {
    width: calc((100% - 51px) / 4);
    cursor: pointer;
}

.thumbnail_image::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 2px var(--on-background);
    content: "";
    background: transparent;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}

.thumbnail_image.active::after,
.thumbnail_image:hover::after {
    visibility: visible;
    opacity: 1;
}

.thumbnail_image img {
    width: 100%;
    height: auto;
}

.object_content {
    margin-top: 30px;
}

.object_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 24px;
    font-weight: 500;
    color: var(--on-background);
    margin-top: -9px;
}

.object_description {
    font-size: 16px;
    font-weight: 500;
    color: var(--on-surface);
    margin-top: 12px;
}

.cart_buttons_container {
    margin-top: 48px;
    display: none;
}

.remove_cart_button_container {
    margin-top: 48px;
    display: none;
}

.cart_button {
    display: inline-block;
    vertical-align: middle;
    margin-left: 13px;
}

.cart_remove_button {
    display: inline-block;
    vertical-align: middle;
    margin-left: 13px;
}

.cart_remove_button::after,
.cart_button::after {
    background: var(--on-background);
}

/************
 Settings 
************/
.nav {
    margin-top: 90px;
    border-bottom: none;
}

.nav-item {
    display: inline-block;
    padding-right: 35px;
}

.nav-item a {
    font-size: 24px;
    font-weight: 550;
    color: var(--on-surface);
}

.nav-item a:hover {
    color: var(--on-background);
}

.nav-item a.active {
    color: var(--on-background);
}

.tab-content {
    margin-top: 44px;
}

/************
 Status tracking 
************/

.status_tracking {
    display: none;
}

.video_container {
    width: 100%;
    border: none;
}

/************
 Status completed
************/

.status_completed {
    display: none;
}


/************
6. 992px
************/

@media only screen and (max-width: 992px) {
    .object_content {
        margin-top: 80px;
    }

    .nav {
        margin-top: 60px;
    }
}


/************
7. 600px
************/

@media only screen and (max-width: 600px) {
    .nav {
        margin-top: 40px;
    }
    .nav-item {
        padding-right: 15px;
    }

    .nav-item a {
        font-size: 15px;
    }

    .cart_buttons_container {
        margin-top: 30px;
    }

    .remove_cart_button_container {
        margin-top: 30px;
    }

    .quantity {
        max-width: 120px;
        height: 55px;
        padding-left: 55px;
    }

    .quantity span {
        left: 17px;
    }

    .quantity input {
        height: 54px;
    }

    .quantity_buttons {
        width: 23px;
    }

    .cart_button {
        max-width: 40%;
    }
}
