/************
 Status none 
************/

.status_none {
    display: none;
}

.details_image_large {
    width: 100%;
}

.details_image_large img {
    width: 100%;
    height: auto;
}

.details_image_thumbnails {
    margin-top: 17px;
}

.details_image_thumbnail {
    width: calc((100% - 51px) / 4);
    cursor: pointer;
}

.details_image_thumbnail::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 2px var(--on-background);
    content: "";
    background: transparent;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}

.details_image_thumbnail.active::after,
.details_image_thumbnail:hover::after {
    visibility: visible;
    opacity: 1;
}

.details_image_thumbnail img {
    width: 100%;
    height: auto;
}

.details_content {
    margin-top: 30px;
}

.details_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 24px;
    font-weight: 500;
    color: var(--on-background);
    margin-top: -9px;
}

.details_price {
    font-size: 16px;
    font-weight: 500;
    color: var(--on-surface);
    margin-top: 12px;
}

.product_quantity_container {
    margin-top: 48px;
    display: none;
}

.cart_remove_button_container {
    margin-top: 48px;
    display: none;
}

.cart_button {
    display: inline-block;
    vertical-align: middle;
    margin-left: 13px;
}

.cart_remove_button {
    display: inline-block;
    vertical-align: middle;
    margin-left: 13px;
}

.cart_remove_button::after,
.cart_button::after {
    background: var(--on-background);
}

/************
 Settings 
************/
.nav {
    margin-top: 90px;
    border-bottom: none;
}

.setting_title {
    display: inline-block;
    padding-right: 35px;
}

.setting_title a {
    font-size: 24px;
    font-weight: 550;
    color: var(--on-surface);
}

.setting_title a:hover {
    color: var(--on-background);
}

.setting_title a.active {
    color: var(--on-background);
}

.setting_content {
    margin-top: 44px;
    padding-left: 10px;
    padding-right: 10px;
}

/************
 Status tracking 
************/

.status_tracking {
    display: none;
}

/************
 Status completed 
************/

.status_completed {
    display: none;
}

.video_container {
    width: 100%;
    border: none;
}

.details_status {
    font-size: 16px;
    font-weight: 500;
    color: var(--on-surface);
    margin-top: 12px;
}

.details_started_at {
    font-size: 16px;
    font-weight: 500;
    color: var(--on-surface);
    margin-top: 12px;
}

.details_completed_by {
    font-size: 16px;
    font-weight: 500;
    color: var(--on-surface);
    margin-top: 12px;
}


/************
6. 992px
************/

@media only screen and (max-width: 992px) {
    .details_content {
        margin-top: 80px;
    }

    .setting_title a {
        font-size: 20px;
        font-weight: 500;
    }
}


/************
7. 600px
************/

@media only screen and (max-width: 600px) {
    .setting_title {
        padding-right: 15px;
    }

    .setting_title a {
        font-size: 15px;
    }

    .product_quantity_container {
        margin-top: 30px;
    }

    .cart_remove_button_container {
        margin-top: 30px;
    }

    .product_quantity {
        max-width: 120px;
        height: 55px;
        padding-left: 55px;
    }

    .product_quantity span {
        left: 17px;
    }

    .product_quantity input {
        height: 54px;
    }

    .quantity_buttons {
        width: 23px;
    }

    .cart_button {
        max-width: 40%;
    }
}
