/************
4. 1199px
************/

@media only screen and (max-width: 1199px) {
    .last_name_col {
        margin-top: 15px;
    }
}

/************
6. 991px
************/

@media only screen and (max-width: 991px) {
    .checkout_button {
        margin-top: 15px;
    }
    .order {
        margin-top: 90px;
    }
}

/************
11. 575px
************/

@media only screen and (max-width: 575px) {
    .checkout_button {
        width: 100%;
    }
    .order_button {
        width: 100%;
    }
    .checkbox_title {
        font-size: 13px;
    }
}